/data-writer-api-server/node_modules
/data-reader-api-server/node_modules
/datasg-react-frontend/node_modules
/data-writer-api-server/.env
/data-reader-api-server/.env
/datasg-react-frontend/.env
/data-writer-api-server/ssl
/data-reader-api-server/ssl
/datasg-react-frontend/ssl
/setups/docker/.ddr-data-reader-env
/setups/docker/.ddr-data-writer-env
/setups/docker/.ddr-react-frontend-env

/secrets


